In [1]:
import pandas as pd
import numpy as np
import difflib

## Mispelled Team Names

In [8]:
#lists
locations = ['Chicago','Detroit','Green Bay','Minnesota']
teams = ['Bear','Loons','Pacjer','ikings']
#series
l_series = pd.Series(locations)
t_series = pd.Series(teams)
#dictionary
nfc_north_dict = {'Location':l_series,'Team':t_series}
#create data frame
df = pd.DataFrame(nfc_north_dict)
df

    Location    Team
0    Chicago    Bear
1    Detroit   Loons
2  Green Bay  Pacjer
3  Minnesota  ikings

In [12]:
#list of all teams
all_teams = ['Cardinals','Falcons','Ravens','Bills','Panthers','Bears','Bengals',
             'Browns','Cowboys','Broncos','Lions','Packers','Texans','Colts','Jaguars',
             'Chiefs','Dolphins','Vikings','Patriots','Saints','Giants','Jets','Raiders',
             'Eagles','Steelers','Chargers','49ers','Seahawks','Rams','Buccaneers','Titans',
             'Commanders']
#create Series
all_series = pd.Series(all_teams)
#create dictionary
all_dict = {'Team':all_series}
#create df
all_teams_df = pd.DataFrame(all_dict)
all_teams_df.head()

        Team
0  Cardinals
1    Falcons
2     Ravens
3      Bills
4   Panthers

## difflib.get_close_matches() in action
```difflib.get_close_matches(word, possibilities, n=3, cutoff=0.6)```

In [23]:
#default settings
difflib.get_close_matches('Ears',all_teams)

['Bears', 'Eagles']

In [24]:
#custom settings
difflib.get_close_matches('Ears',all_teams,n=5, cutoff=0.25)

['Bears', 'Eagles', 'Raiders', 'Packers', 'Jaguars']

In [26]:
#no matches
difflib.get_close_matches('E',all_teams)

[]