In [1]:
import pandas as pd
import numpy as np

In [2]:
#lists
locations = ['Chicago','Detroit','Green Bay','Minnesota']
teams = ['Bear','Loons','Pacjer','ikings']
#series
l_series = pd.Series(locations)
t_series = pd.Series(teams)
#dictionary
nfc_north_dict = {'Location':l_series,'Team':t_series}
#create data frame
df = pd.DataFrame(nfc_north_dict)
df

    Location    Team
0    Chicago    Bear
1    Detroit   Loons
2  Green Bay  Pacjer
3  Minnesota  ikings

In [3]:
#leave the vikings out and see if it is left alone
north_dict={'Bear':'Bears','Loons':'Lions','Pacjer':'Packers'}

In [6]:
df.replace({"Team": north_dict},inplace=True)

In [7]:
df.head()

    Location     Team
0    Chicago    Bears
1    Detroit    Lions
2  Green Bay  Packers
3  Minnesota   ikings

False